{% extends 'base_detail_list.html' %}
{% load staticfiles %}
{% block title %}天天生鲜-商品详情{% endblock %}
{% block top_js %}
	<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript">
        $(document).ready(function () {
            price_count();
            {# 总价 #}
            function price_count() {
                count = $('.num_show').val();
                price = $('.show_pirze').children('em').text();
                amount = parseInt(count)*parseFloat(price);
                $('.total').children('em').text(amount.toFixed(2) + ' 元')
            }

            {# 添加/减少数量 #}
            $('.num_add').delegate('a','click',function () {
                res = $(this).prop('class').split(' ')[0];
                var count = $('.num_show').val();

                if(res == 'add'){
                    count  ++;
                }
                else if(res == 'minus'){
                    count --;
                    if(count <= 0){
                        var count = 1
                    }
                }
                $('.num_show').val(count);
                price_count();
            });

            {# 判断用户输入是否合法 #}
            $('.num_show').blur(function () {
                count = $(this).val();
                if(isNaN(count) || count.trim().length == 0 || count <= 0){
                    var count = 1
                }
                $(this).val(parseInt(count));
                price_count();
            });

            var $add_x = $('#add_cart').offset().top;
            var $add_y = $('#add_cart').offset().left;

            var $to_x = $('#show_count').offset().top;
            var $to_y = $('#show_count').offset().left;


            $('#add_cart').click(function(){
                var good_id = $(this).attr('good_id');
                var count = $('.num_show').val();
                csrf = $('input[name=csrfmiddlewaretoken]').val();
                param = {'good_id':good_id,'count':count,'csrfmiddlewaretoken':csrf};

                $.post('/cart/add/',param,function (data) {
                    if(data.res == 0){
                        $(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'});
                        $(".add_jump").stop().animate({
                            'left': $to_y+7,
                            'top': $to_x+7},
                            "fast", function() {
                                $(".add_jump").fadeOut('fast',function(){
                                $('#show_count').html({{ data.total_count }});
                            });
                        });
                        // 更新购物车的条目
                        $('#show_count').html(data.total_count)
                    }else{
                        if (data.res == '4101'){
                            location.href='/user/login/'
                        }else{
                            alert(data.errmsg);
                            $('.num_show').val(1)
                        }
                    }
                })


            });

            // 商品介绍、评论的显示
            $('#detail').click(function () {
                $('#tab_detail').show();
                $('#tab_comment').hide();
                $(this).addClass('active');
                $('#comment').removeClass('active')
            })

            $('#comment').click(function () {
                $('#tab_comment').show();
                $('#tab_detail').hide();
                $(this).addClass('active');
                $('#detail').removeClass('active')
            })
        })
	</script>
{% endblock top_js %}

{% block main_content %}
	<div class="breadcrumb">
		<a href="{% url 'goods:goods_list' goods.type.id %}">全部分类</a>
		<span>></span>
		<a href="{% url 'goods:goods_list' goods.type.id %}">{{ goods.type.name }}</a>
		<span>></span>
		<span>商品详情</span>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img width="222" height="222" src="{{ goods.image.url }}"></div>

		<div class="goods_detail_list fr">
			<h3>{{ goods.name }}</h3>
			<p>{{ goods.desc }}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ goods.price }}</em></span>
				<span class="show_unit">单  位：{{ goods.unite }}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" name='count' value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div> 
			</div>
             <div>
                <p>其他规格:</p>
                <ul>
                    {% for sku in same_spu_goods %}
                        <li><a href="{% url 'goods:detail' sku.id %}">{{ sku.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
			<div class="total">总价：<em>0元</em></div>
			<div class="operate_btn">
{#				<a href="javascript:;" class="buy_btn">立即购买</a>#}
				<a href="javascript:;" name='good_id' good_id = '{{ goods.id }}' value='{{ goods.id }}' class="add_cart" id="add_cart">加入购物车</a>
                {% csrf_token %}
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for new_good in new_goods %}
					<li>
						<a href="{% url 'goods:detail' new_good.id %}"><img src="{{ new_good.image.url }}"></a>
						<h4><a href="{% url 'goods:detail' new_good.id %}">{{ new_good.name }}</a></h4>
						<div class="prize">￥{{ new_good.price }}</div>
					</li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active" id="detail">商品介绍</li>
				<li id="comment">评论</li>
			</ul>

			<div class="tab_content" id="tab_detail">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{ goods.goods.detail|safe }}</dd>
				</dl>
			</div>

             <div class="tab_content" id="tab_comment" style="display: none;">
				<dl>
                    {% for comment in all_comments %}
					<dt>评论时间：{{ comment.update_time }}&nbsp;&nbsp;用户名:{{ comment.order.user.username }}</dt>
                    <dd>评论内容:{{ comment.comment|default_if_none:'' }}</dd>
                    {% endfor %}
				</dl>
			</div>

		</div>
	</div>


{% block bottom_content %}
	<div class="add_jump"></div>
{% endblock bottom_content %}

{% endblock main_content %}