{% extends 'base_user_center.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main2.css' %}">
    <style type="text/css">
        .order_goods_list .col02{width:50%;text-align:left;}
        .order_goods_list .col02 em{color:#999;margin-left:10px}
        .order_goods_list .col03{width:10%}
        .order_goods_list .col04{width:20%}

        .pageturn {
            clear: both;
            height: 30px;
            margin: 50px auto;
            display: table;
            text-align: center;
        }

        .pageturn .pagelist {
            display: table-cell;
            vertical-align: middle;
            overflow: hidden;
            padding: 0px;
            text-align: center;
        }

        .pageturn li {
            width: 30px;
            height: 30px;
            line-height: 30px;
            margin-left: 10px;
            float: left;
            text-align: center;
            list-style: none;
        }

        .pageturn li:first-child {
            margin-left: 0;
        }

        .pageturn li:hover a, .pageturn .active a {
            background: #717171;
            color: #fff;
            border-color: #eaeaea;
        }

        .pageturn a {
            border: 1px solid #eaeaea;
            display: block;
            height: 28px;
            color: #6c6c6c;
            text-decoration: none;
        }

        .pageturn span {
            border: 1px solid #eaeaea;
            display: block;
            height: 28px;
            width: 98px;
            color: #6c6c6c;
            text-decoration: none;
        }

        .pageturn .long {
            width: 100px;
        }

        .pageturn .none a {
            border: 0;
        }
    </style>
{% endblock css %}
{% block title %}天天生鲜-用户中心{% endblock %}
{% block page_title %}我的评价{% endblock page_title %}
{% block right_content %}
        <div class="right_content clearfix">
            <h3 class="common_title2">订单评价</h3>
                <table  class="order_list_table w980">
                                <td width="80%">
                                    <ul class="order_goods_list clearfix">
                                        <li class="col01"><span>商品图片</span></li>
                                        <li class="col02"><span>商品规格</span></li>
                                        <li class="col03"><span>商品数量</span></li>
                                        <li class="col04"><span>商品规格</span></li>
                                    </ul>
                                </td>
                                <td width="20%"><span>评论</span></td>
                    </table>
                {% for order in all_orders.object_list %}
                    <ul class="order_list_th w978 clearfix">
                        <li class="col01">{{ order.create_time }}</li>
                        <li class="col02">订单号：{{ order.order_id }}</li>
                    </ul>

                    {% for good in order.all_goods %}
                    <table class="order_list_table w980">
                        <tbody>
                            <tr>
                                <td width="80%">
                                    <ul class="order_goods_list clearfix">
                                        <li class="col01"><a href="{% url 'goods:detail' good.sku.id %}"><img src="{{ good.sku.image.url }}"></a></li>
                                        <li class="col02"><a href="{% url 'goods:detail' good.sku.id %}">{{ good.sku.name }}</a><em>{{ good.price }}/{{ good.sku.unite }}</em></li>
                                        <li class="col03">{{ good.count }}</li>
                                        <li class="col04">{{ good.amount }}</li>
                                    </ul>
                                </td>
                                <td width="20%">{{ good.comment|default_if_none:'' }}</td>
                            </tr>
                        </tbody>
                    </table>
                    {% endfor %}
                {% endfor %}
            <div class="pageturn">
                    <ul class="pagelist">
                        {% if all_orders.has_previous %}
                            <li class="long"><a href="?{{ all_orders.previous_page_number.querystring }}">上一页</a></li>
                        {% else %}
                            <li class="long"><span>上一页</span></li>
                        {% endif %}

                        {% for page in all_orders.pages %}
                            {% if page %}
                                {% ifequal page all_orders.number %}
                                    <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                {% else %}
                                    <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                {% endifequal %}
                            {% else %}
                                <li><a href="" class="none">...</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if all_orders.has_next %}
                            <li class="long"><a href="?{{ all_orders.next_page_number.querystring }}">下一页</a></li>
                        {% else %}
                            <li class="long"><span>下一页</span></li>
                        {% endif %}

                    </ul>
                </div>
        </div>
{% endblock right_content %}
