{% extends 'base_user_center.html' %}
{% load staticfiles %}
{% block top_js %}
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('.add_goods').click(function () {
                $.ajaxSetup({
                    data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
                });
                good_id = $(this).attr('good_id');
                param = {'good_id':good_id,'count':'1'};
                $.post('/cart/add/',param,function (data) {
                    if(data.res == 0){
                        alert('添加成功')
                    }else{
                        if (data.res == '4101'){
                            location.href='/user/login/'
                        }else{
                            alert(data.errmsg);
                        }
                    }
                })
            })
        })
    </script>
{% endblock top_js %}
{% block right_content %}
		<div class="right_content clearfix">
				<div class="info_con clearfix">
				<h3 class="common_title2">基本信息</h3>
						<ul class="user_info_list">
							<li><span>用户名：</span>{{ user.username }}</li>
                            {% if address %}
                                <li><span>联系方式：</span>{{ address.phone }}</li>
                                <li><span>联系地址：</span>{{ address.addr }}</li>
                            {% else %}
                                <li><span>联系方式：</span>暂无默认联系方式哦-可在收货地址设置</li>
                                <li><span>联系地址：</span>暂无默认收货地址哦-可在收货地址设置</li>
                            {% endif %}
						</ul>
				</div>
				
				<h3 class="common_title2">最近浏览</h3>
				<div class="has_view_list">
					<ul class="goods_type_list clearfix">
                        {% for good in goods_li %}
				        <li>
                            <a href="{% url 'goods:detail' good.id %}"><img src="{{ good.image.url }}"></a>
                            <h4><a href="{% url 'goods:detail' good.id %}">{{ good.name }}</a></h4>
                            <div class="operate">
                                <span class="prize">￥{{ good.price }}</span>
                                <span class="unit">{{ good.price }}/{{ good.unite }}</span>
                                <a href="#" good_id="{{ good.id }}" class="add_goods" title="加入购物车"></a>
                            </div>
				        </li>
                        {% empty %}
                            暂无浏览记录
                        {% endfor %}
			        </ul>
		        </div>
		</div>
{% endblock right_content %}