<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
        $(function () {
            if ($('#username').val() != ''){
                $('#rem').prop('checked','checked')  //设置行间属性checked
            }
            else{
                $('#rem').removeProp('checked') //取消设置行间属性checked
            }
        })
    </script>
</head>
<body>
    <form action="{% url 'check_cookie' %}" method="post">
        <label for="">用户名</label><input type="text" id="username" name="username" value="{{ username|default_if_none:'' }}">
        <br>
        <label for="">密&nbsp;&nbsp;&nbsp;码</label><input type="password" id="password" name="password">
        <br>
        <input type="checkbox" name="remember" id="rem"><lable>是否记住用户名</lable>
        <br>
        <input type="submit" id="btnLogin" value="登录">
        <br>
    </form>

</body>
</html>